:root {
  --background-main: #f3f7fa;
  --background-white: #fff;
  --blue-main: #2196f3;

  --secondary-light-blue: #f1fcff;

  --text-black: #4a4a4a;
  --text-gray: #a0b0b9;
  --text-white: #fff;

  --border-gray: #dfe5ec;
  --border-light-blue: #9abbce;
}
